.mdtabs {

}

.mdtabs .mdtabs-header .tab {
    display: inline-block;
    padding: 3px 6px;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    opacity: 0.7;
}

.mdtabs .mdtabs-header .tab.active {
    border-bottom-color: #428bca;
    cursor: default;
    opacity: 1;
}

.mdtabs .mdtabs-body .tab {
    display: none;
}

.mdtabs .mdtabs-body .tab.active {
    display: block;
}
