.mdtabs {

}

.mdtabs-header .mdtab {
    display: inline-block;
    padding: 4px 12px;
    border: solid #428bca;
    border-width: 1px 1px 0px 0px;
    cursor: pointer;
    opacity: 0.7;
}
.mdtabs-header .mdtab:first-child {
  border-left-width: 1px;
}
.mdtabs-header .mdtab.active {
    cursor: default;
    opacity: 1;
}
.mdtabs-header .mdtab {
  background-color: aliceblue;
  color: #428bca;
  position: relative;
  top: 1px;
}
.mdtabs-header .mdtab.active {
  background-color: white;
  color: black;
  font-weight: bold;
  border-bottom-color: white;

}

.mdtabs .mdtabs-body .mdtab {
    display: none;
}

.mdtabs .mdtabs-body .mdtab.active {
    display: block;
}

.mdtabs-body {
  border: 1px solid #428bca;
  padding: 16px;
}
